{% if site.email %}
  <a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fa-solid fa-envelope"></i></a>
{% endif %}
{% if site.telegram_username %}
  <a href="https://telegram.me/{{ site.telegram_username }}" title="telegram"><i class="fa-brands fa-telegram"></i></a>
{% endif %}
{% if site.whatsapp_number %}
  <a href="https://wa.me/{{ site.whatsapp_number }}" title="whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
{% endif %}
{% if site.orcid_id %}
  <a href="https://orcid.org/{{ site.orcid_id }}" title="ORCID"><i class="ai ai-orcid"></i></a>
{% endif %}
{% if site.scholar_userid %}
  <a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a>
{% endif %}
{% if site.semanticscholar_id %}
  <a href="https://www.semanticscholar.org/author/{{ site.semanticscholar_id }}" title="Semantic Scholar"><i class="ai ai-semantic-scholar"></i></a>
{% endif %}
{% if site.publons_id %}
  <a href="https://publons.com/a/{{ site.publons_id }}/" title="Publons"><i class="ai ai-publons"></i></a>
{% endif %}
{% if site.lattes_id %}
  <a href="http://lattes.cnpq.br/{{ site.lattes_id }}" target="_blank" title="Lattes"><i class="ai ai-lattes"></i></a>
{% endif %}
{% if site.osf_id %}
  <a href="https://osf.io/{{ site.osf_id }}/" title="Open Science Framework"><i class="ai ai-osf"></i></a>
{% endif %}
{% if site.research_gate_profile %}
  <a href="https://www.researchgate.net/profile/{{site.research_gate_profile}}/" title="ResearchGate"><i class="ai ai-researchgate"></i></a>
{% endif %}
{% if site.ieee_id %}
  <a href="https://ieeexplore.ieee.org/author/{{site.ieee_id}}/" title="IEEE Xplore"><i class="ai ai-ieee"></i></a>
{% endif %}
{% if site.acm_id %}
  <a href="https://dl.acm.org/profile/{{site.acm_id}}/" title="ACM DL"><i class="ai ai-acm"></i></a>
{% endif %}
{% if site.scopus_id %}
  <a href="https://www.scopus.com/authid/detail.uri?authorId={{site.scopus_id}}" title="Scopus"><i class="ai ai-scopus"></i></a>
{% endif %}
{% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fa-brands fa-github"></i></a>
{% endif %}
{% if site.linkedin_username %}
  <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
{% endif %}
{% if site.x_username %}
  <a href="https://twitter.com/{{ site.x_username }}" title="X"><i class="fa-brands fa-x-twitter"></i></a>
{% endif %}
{% if site.mastodon_username %}
  <a rel="me" href="https://{{ site.mastodon_username  }}" title="Mastodon"><i class="fa-brands fa-mastodon"></i></a>
{% endif %}
{% if site.medium_username %}
  <a href="https://medium.com/@{{ site.medium_username }}" title="Medium"><i class="fa-brands fa-medium"></i></a>
{% endif %}
{% if site.quora_username %}
  <a href="https://www.quora.com/profile/{{ site.quora_username }}" title="Quora"><i class="fa-brands fa-quora"></i></a>
{% endif %}
{% if site.flickr_id %}
  <a href="https://www.flickr.com/{{ site.flickr_id }}" title="Flickr"><i class="fa-brands fa-flickr"></i></a>
{% endif %}
{% if site.blogger_url %}
  <a href="{{ site.blogger_url }}" title="Blogger"><i class="fa-brands fa-blogger-b"></i></a>
{% endif %}
{% if site.work_url %}
  <a href="{{ site.work_url }}" title="Work"><i class="fa-solid fa-briefcase"></i></a>
{% endif %}
{% if site.wikidata_id %}
  <a href="https://www.wikidata.org/wiki/{{ site.wikidata_id }}" title="Wikidata"><i class="fa-solid fa-barcode"></i></a>
{% endif %}
{% if site.wikipedia_id %}
  <a href="https://wikipedia.org/wiki/User:{{ site.wikipedia_id }}" title="Wikipedia"><i class="fa-brands fa-wikipedia-w"></i></a>
{% endif %}
{% if site.strava_userid %}
  <a href="https://www.strava.com/athletes/{{ site.strava_userid }}" title="Strava"><i class="fa-brands fa-strava"></i></a>
{% endif %}
{% if site.keybase_username %}
  <a href="https://keybase.io/{{ site.keybase_username }}" title="Keybase"><i class="fa-brands fa-keybase"></i></a>
{% endif %}
{% if site.gitlab_username %}
  <a href="https://gitlab.com/{{ site.gitlab_username }}" title="GitLab"><i class="fa-brands fa-gitlab"></i></a>
{% endif %}
{% if site.dblp_url %}
  <a href="{{ site.dblp_url }}" title="DBLP"><i class="ai ai-dblp"></i></a>
{% endif %}
{% if site.stackoverflow_id %}
  <a href="https://stackoverflow.com/users/{{ site.stackoverflow_id }}" title="Stackoverflow"><i class="fa-brands fa-stack-overflow"></i></a>
{% endif %}
{% if site.kaggle_id %}
  <a href="https://www.kaggle.com/{{ site.kaggle_id }}" title="Kaggle"><i class="fa-brands fa-kaggle"></i></a>
{% endif %}
{% if site.lastfm_id %}
  <a href="https://www.last.fm/user/{{ site.lastfm_id }}" title="Last FM"><i class="fa-brands fa-lastfm"></i></a>
{% endif %}
{% if site.spotify_id %}
  <a href="https://open.spotify.com/user/{{ site.spotify_id }}" title="Spotify"><i class="fa-brands fa-spotify"></i></a>
{% endif %}
{% if site.pinterest_id %}
  <a href="https://www.pinterest.com/{{ site.pinterest_id }}" title="Pinterest"><i class="fa-brands fa-pinterest"></i></a>
{% endif %}
{% if site.unsplash_id %}
  <a href="https://unsplash.com/@{{ site.unsplash_id }}" title="Unsplash"><i class="fa-brands fa-unsplash"></i></a>
{% endif %}
{% if site.instagram_id %}
  <a href="https://instagram.com/{{ site.instagram_id }}" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
{% endif %}
{% if site.facebook_id %}
  <a href="https://facebook.com/{{ site.facebook_id }}" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
{% endif %}
{% if site.bluesky_url %}
  <a href="https://bsky.app/profile/{{ site.bluesky_url }}" title="Bluesky"><i class="fa-brands fa-bluesky"></i></a>
{% endif %}
{% if site.youtube_id %}
  <a href="https://youtube.com/@{{ site.youtube_id }}" title="YouTube"><i class="fa-brands fa-youtube"></i></a>
{% endif %}
{% if site.discord_id %}
  <a href="https://discord.com/users/{{ site.discord_id }}" title="Discord"><i class="fa-brands fa-discord"></i></a>
{% endif %}
{% if site.zotero_username %}
  <a href="https://www.zotero.org/{{ site.zotero_username }}" title="Zotero"><i class="ai ai-zotero"></i></a>
{% endif %}
{% if site.rss_icon %}
  <a href="{{ site.baseurl }}/feed.xml" title="RSS Feed"><i class="fa-solid fa-square-rss"></i></a>
{% endif %}
{% if site.wechat_qr %}
  <a id="WeChatBtn" title="WeChat"><i class="fa-brands fa-weixin"></i></a>
  <div id="WeChatMod" class="wechat-modal">
    <img src="{{ site.wechat_qr | prepend: 'assets/img/' | relative_url }}" alt="WeChat QR" id="WeChatQR">
  </div>
  {% include scripts/wechatModal.liquid %}
{% endif %}

{% if site.sciprofiles %}
<svg style="display: none">
	<symbol id="sciprofiles" viewBox="0 0 96 96">
		<svg id="Ebene_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 199.3 186.7"><defs><style>.st0, .st1{ fill: #fff;} .st1, .st2, .st3{ stroke: #fff; stroke-miterlimit: 10; stroke-width: 6px;} .st2, .st4{ fill: #1c1c1d;} .st3{ fill: none;} </style></defs><path class="st2" d="M4,63.6l41,108.2,87.2,11.3,57.5-61.8c.7.2-5.8-58.1-7.3-78.3l-92.5-21L22.2,54.8l-1.2.6-17,8.2Z"/><path class="st4" d="M195.7,89c-.5,14.9-2.6,44.1-12.7,60.9-1.6,2.6-17.2,19.6-34.1,24-7.7,2-63.9-4.9-101.7-32.8-13.9-10.3-12.1-34.2-10.3-62,1.5-22.8,7.6-50.8,18.9-66.1,10.9-15,33.7-9.2,65.9-5.8,23.7,2.5,34.6,8.1,42.4,12.7,5.4,3.2,15,8.2,22,18.1,11.1,15.6,10.2,31.8,9.6,51h0Z"/><path class="st2" d="M195.7,89c-.5,14.9-2.6,44.1-12.7,60.9-1.6,2.6-17.2,19.6-34.1,24-7.7,2-63.9-4.9-101.7-32.8-13.9-10.3-12.1-34.2-10.3-62,1.5-22.8,7.6-50.8,18.9-66.1,10.9-15,33.7-9.2,65.9-5.8,23.7,2.5,34.6,8.1,42.4,12.7,5.4,3.2,15,8.2,22,18.1,11.1,15.6,10.2,31.8,9.6,51h0Z"/><path id="path6" class="st3" d="M158.8,63.4c0-4.1,3.2-6.8,7.5-6.8s7.5,2.8,7.5,6.8-3.2,6.9-7.5,6.9-7.5-2.9-7.5-6.9ZM160.2,79.1h12.2v51.1h-12.1v-51.1h0Z"/><path id="path5" class="st3" d="M110.7,104.7c0-17,12.1-26.8,25.7-26.8s10.9,2,14.9,5.7l-5.9,7.9c-2.7-2.3-5.2-3.7-8.4-3.7-8.2,0-13.8,6.7-13.8,16.9s5.6,16.8,13.5,16.8,7.6-1.9,10.5-4.4l4.9,8c-4.6,4.1-10.6,6.3-16.7,6.3-14,0-24.7-9.8-24.7-26.8h0Z"/><path id="path4" class="st3" d="M54.2,121.5l7.1-8.4c4.9,4.6,11.4,7.7,17.7,7.7s11.7-3.4,11.7-8.6-4.3-7.3-10.5-9.9l-9.3-4c-6.7-2.8-13.7-8.1-13.7-18.1s9.6-19.2,22.9-19.2,15.4,3.1,21,8.7l-6.3,7.8c-4.3-3.7-8.9-5.8-14.7-5.8s-10.5,3-10.5,7.9,5.1,7.2,10.8,9.5l9.1,3.8c8.1,3.4,13.7,8.5,13.7,18.3s-9.2,20.3-24.5,20.3-18-3.6-24.5-10h0Z"/><rect class="st1" x="161.4" y="79.1" width="7.1" height=".9"/><rect class="st0" x="157.3" y="76.1" width="7.1" height="3"/></svg>
	</symbol>
</svg>
  <a href="https://sciprofiles.com/profile/{{ site.sciprofiles }}" title="sciprofiles">
  <svg width="50" heigth="50">
		<use href="#sciprofiles"></use>
	</svg>
</a>
{% endif %}

{% if site.pgp %}
<svg style="display: none">
	<symbol id="pgp" viewBox="0 0 96 96">
    <svg xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.18185 10.7027H6.00004C5.44776 10.7027 5.00005 11.1485 5.00004 11.7008C5.00001 13.3483 4.99996 16.6772 5.00006 18.9189C5.00018 21.4317 8.88614 22 12 22C15.1139 22 18.9999 21.4317 18.9999 18.9189C19 16.6773 19 13.3483 18.9999 11.7008C18.9999 11.1485 18.5522 10.7027 17.9999 10.7027H15.8181H8.18185ZM8.18185 10.7027C8.18185 10.7027 8.18189 8.13513 8.18185 6.59459C8.18181 4.74571 9.70882 3 12 3C14.2912 3 15.8181 4.74571 15.8181 6.59459" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style=""/><path fill-rule="evenodd" clip-rule="evenodd" d="M13 16.6181V18C13 18.5523 12.5523 19 12 19C11.4477 19 11 18.5523 11 18V16.6181C10.6931 16.3434 10.5 15.9442 10.5 15.5C10.5 14.6716 11.1716 14 12 14C12.8284 14 13.5 14.6716 13.5 15.5C13.5 15.9442 13.3069 16.3434 13 16.6181Z" fill="#fff" style=""/></svg>
	</symbol>
</svg>
  <a href="https://keys.openpgp.org/search?q={{ site.pgp }}" title="pgpkey">
  <svg width="50" heigth="50">
		<use href="#pgp"></use>
	</svg>
</a>
{% endif %}